:host {
  display: block;
  min-width: 0;
  height: 100%;
}

.btn-historial {
  height: 2.75rem;
  width: 100%;
  justify-content: center;
  border-radius: 0.75rem;
  border: 1px solid var(--tui-border-normal);
  background: var(--tui-background-neutral-1);
  font-weight: 700;
  color: var(--tui-text-primary);
}

